h1 { color: purple; }

.tooterface {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;

  > div {
    padding-right: 1em;
    flex: 1;
    
    h2 {
      margin: 0;
    }
  }
}

ul.notes {
  list-style-type: none;
  padding-left: 0em;  
}